/* You can add global styles to this file, and also import other style files */

body {
  background-color: white;
  text-align: center;
  font-family: sans-serif;
}

.land {
  fill: #dddddd;
}

.border {
  fill: none;
  stroke-width: 1px;
}

.interior {
  stroke: white;
}

.exterior {
  stroke: #bbbbbb;
}

.tooltip {
  position: absolute;
  text-align: left;
  font-size: 0.8em;
  width: 7em;
  visibility: hidden;
}

.highlighted {
  stroke-width: 2;
  stroke: #248968;
  r: 4
}

.controls {
  position: absolute;
  top: 4em;
  left: 8em;
}

.invisible {
  visibility: hidden;
}
