/* You can add global styles to this file, and also import other style files */

body {
  background-color: white;
  text-align: left;
  font-family: sans-serif;
}

.land {
  fill: #dddddd;
}

.border {
  fill: none;
  stroke-width: 1px;
}

.interior {
  stroke: white;
}

.exterior {
  stroke: #bbbbbb;
}

.tooltip {
  position: absolute;
  text-align: left;
  font-size: 1em;
  color: white;
  padding: 10px;
  z-index: 1000;
  visibility: hidden;
  border-radius: 10px;
  background: rgba(44, 44, 44, 0.49);
}

.highlighted {
  stroke-width: 2px !important;
  stroke: #fd0000 !important;
  stroke-opacity: 0.5 !important;
}

.controls {
  position: relative;
  margin: 1.5em 0;
}

.edge {
  fill: none;
  stroke: #252525;
  stroke-width: 1px;
  stroke-opacity: 0.1;
}

.invisible {
  visibility: hidden;
}

slider .ngx-slider .ngx-slider-pointer {
  cursor: pointer;
  width: 25px;
  height: 25px;
  top: -10px;
  background-color: #696969;
  z-index: 3;
  border-radius: 16px;
}


slider .ngx-slider .ngx-slider-pointer:after {
  content: "";
  width: 9px;
  height: 9px;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 15px;
  background: #fff;
}

slider .ngx-slider .ngx-slider-selection{
    z-index: 2;
    background: #585858;
    border-radius: 2px;
}

slider .ngx-slider .ngx-slider-bubble{
    cursor: default;
    bottom: 20px;
    padding: 3px;
  color: #55637d;
  font-size: 16px;
}


slider input {
  padding: 0.3em;
  margin: 0.5em;
}

slider .ngx-slider {
  display: block;
  width: 91%;
  margin: 4em auto;
}

rect#border {
  fill: #f1f1f1;
}
