/* You can add global styles to this file, and also import other style files */

body {
  background-color: white;
  text-align: center;
  font-family: sans-serif;
}

.land {
  fill: #dddddd;
}

.border {
  fill: none;
  stroke-width: 1px;
}

.interior {
  stroke: white;
}

.exterior {
  stroke: #bbbbbb;
}

.tooltip {
  position: absolute;
  text-align: left;
  font-size: 0.8em;
  color: white;
  padding: 10px;
  visibility: hidden;
  border-radius: 10px;
  background: rgba(44, 44, 44, 0.49);
}

.highlighted {
  stroke-width: 2;
  stroke: #248968;
}

.controls {
  position: absolute;
  top: 4em;
  left: 8em;
}

.edge {
  fill: none;
  stroke: #252525;
  stroke-width: 1px;
  stroke-opacity: 0.1;
}

.invisible {
  visibility: hidden;
}
